
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;

}
.tudo{
    display: flex;
}
.ciano{
    background-color: #d7dacf;
    width: 70%;
    height: 94.5vh;
}
.amarelo{
    background-color: #bec3bc;
    width: 30%;
    height: 94.5vh;
}

.nome{
    margin-left: 50px;
    color: #65727a;
    font-size: 30px;
}
.divDev{
   margin-left: 150px;
   margin-top: 200px;
}
.dev{
    font-size: 50px;
    color: #65727a;
}
.descricao{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.75);
    border-right: 2px solid rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation{
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

.typing-animation2{
    animation: blinkCursor 500ms steps(40) infinite normal, typing2 4s steps(40) 5s normal both;
}

img{
    margin-top: 200px;
    margin-left: 30%;
    border-radius: 50%;
    border: 3px solid #65727a;
}

button{
    background-color: #65727a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

@keyframes typing2{
    from{
        width: 0;
    }
    to{
        width: 21em;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 27em;
    }
}

@keyframes blinkCursor {
    from{
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}